:root {
    /* Colors */
    --primary: #db7093;
    --primary-dark: #ce3b6b;
    --primary-light: #ecb2c5;
    --primary-text: #000000;
    --secondary-text: #fbe7ec;
    --accent: #536dfe;
    --divider: #bdbdbd;
    --white: #fdfdfd;
}

.hero {
    height: 85vh;
    background-color: lightgrey;
}

.img {
  max-width: 90px;
}