:root {
    /* Colors */
    --primary: #db7093;
    --primary-dark: #ce3b6b;
    --primary-light: #ecb2c5;
    --primary-text: #a5a5a5;
    --secondary-text: #fbe7ec;
    --accent: #536dfe;
    --divider: #bdbdbd;
    --white: #fdfdfd;
}

.hero {
    height: 85vh;
    background-size: cover;
}

.hero__caption h2 {
    background-color: #000000;
    border: 1px solid black;
    opacity: 0.9;
}